Gebaeude.accdb.src/tbldefs/B_Ergebnisse_E.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="B_Ergebnisse_E" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="B_Ergebnisse_E">
    <xsd:annotation>
      <xsd:appinfo></xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID_Gebäudeteil" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"></xsd:element>
        <xsd:element name="Flur" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
        <xsd:element name="Flurstücke" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Fläche" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
        <xsd:element name="Bodenrichtwert" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"></xsd:element>
        <xsd:element name="Grundstückswert" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
