Gebaeude.accdb.src/tbldefs/B_Ergebnisse_D.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="B_Ergebnisse_D" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="B_Ergebnisse_D">
    <xsd:annotation>
      <xsd:appinfo></xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID_Gebäudeteil" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"></xsd:element>
        <xsd:element name="Herstellungskosten" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"></xsd:element>
        <xsd:element name="Nutzungsdauer" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"></xsd:element>
        <xsd:element name="Abschreibung_x0020_Jahre" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
        <xsd:element name="Abschreibung_x0020_Jahr" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
        <xsd:element name="kumulierte_x0020_Abschreibung" minOccurs="0" od:jetType="double" od:sqlSType="float" type="xsd:double"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
