Gebaeude.accdb.src/tbldefs/tblRelationshipViews.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tblRelationshipViews" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="tblRelationshipViews">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="ID" index-key="ID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="BackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="BackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="ThemeFontIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="AlternateBackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="SubdatasheetName" type="10" value="[Auto]"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="3315"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="ID for this Relationship View"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="WinName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="4877"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Window Name"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="X" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Y" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="X1" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Y1" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
