Gebaeude.accdb.src/tbldefs/ZZ_tmp_QV_B_Gebäudebestand_Gebäudeteile.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ZZ_tmp_QV_B_Gebäudebestand_Gebäudeteile" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ZZ_tmp_QV_B_Gebäudebestand_Gebäudeteile">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="ID_Gebäudeteil" index-key="ID_Gebäudeteil " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="BackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="BackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="ThemeFontIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="AlternateBackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="Filter" type="12" value="([Lookup_ID__Gebäudeteil].[GebT] Is Null OR [Lookup_ID__Gebäudeteil].[GebT]=&quot;&quot;)"></od:tableProperty>
        <od:tableProperty name="SubdatasheetName" type="10" value="[Auto]"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Kenn_B_Gebäudebestand" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="7980"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="111"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="RowSource" type="12" value="SELECT B_Gebäudebestand_Alt.Kennummer, [Straße] &amp; &quot;: &quot; &amp; [Bezeichnung] &amp; &quot; -&gt; &quot; &amp; [Gebäudeteil] AS Geb FROM B_Gebäudebestand_Alt ORDER BY [Straße] &amp; &quot;: &quot; &amp; [Bezeichnung] &amp; &quot; -&gt; &quot; &amp; [Gebäudeteil];"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="2"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidths" type="10" value="0"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="16"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="0Twip"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ID_Gebäudeteil" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="10290"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="2"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="111"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="RowSource" type="12" value="SELECT tbl_100_20_Gebäudeteile.ID_Gebäudeteil, [Name] &amp; &quot; &quot; &amp; [tbl_100_20_Gebäudeteile].[HAus_Nr] &amp; &quot;: &quot; &amp; [Bezeichnung] &amp; &quot; -&gt; &quot; &amp; [Gebäudeteil] AS GebT FROM (tbl_100_10_Liegenschaften RIGHT JOIN tbl_100_20_Gebäudeteile ON tbl_100_10_Liegenschaften.ID_Gebäude = tbl_100_20_Gebäudeteile.ID_Gebäude) LEFT JOIN M_Strassenverzeichnis ON tbl_100_20_Gebäudeteile.Kennummer_Straße = M_Strassenverzeichnis.Kennummer ORDER BY [Name] &amp; &quot; &quot; &amp; [tbl_100_20_Gebäudeteile].[HAus_Nr] &amp; &quot;: &quot; &amp; [Bezeichnung] &amp; &quot; -&gt; &quot; &amp; [Gebäudeteil];"></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="2"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidths" type="10" value="0"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="16"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="0Twip"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
